.currency-switch {
  margin-right: 1rem;
}

#currency-switch {
  outline: none;
  border: none;
  padding: 0 5px;
  background-color: var(--background-clr);
}
select#currency-switch span {
  display: none !important;
}

select#currency-switch:focus span {
  display: block !important;
}
