.product-listing-page-header {
  background-color: #f9fafb;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(100, 100, 100, 0.15);
}

.product-listing-page-content {
  padding: 4rem 0 5rem;
  display: flex;
  flex-direction: column;
}

.product-listing-page-container {
  margin-top: 1rem;
}

.product-listing-page-products-list {
  width: 100%;
  display: grid;
  margin: 0 auto;
  gap: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .product-listing-page-products-list {
    gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 900px) {
  .product-listing-page-products-list {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .product-listing-page-products-list {
    gap: 0.75rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
